<%-`<html>`%>
<head>
<%- include ('../partials/meta2.ejs') %> 
<%- include ('../partials/topscript.ejs')%>
<script type="text/javascript" src="/js/fabric17.js"></script>
<script id="insert"></script>
</head>
<body>
<%- include ('../partials/header1a.ejs') %>
<%- include ('../partials/fade1.ejs') %>
<br /><br /><br />
<script type='text/javascript' src='/js/intercet.js'></script>
<div style="display:none" id='container3'>
</div>
<div class="container" style="font-family: 'Recursive', sans-serif !important;font-size: 1.1rem !important; margin: auto;">
<%- body %>
<!---->
</div>
<div id="1a">
</div>
<aside class="modal hide" id="modal"></aside>
</body>
<%-`</html>`%>